.container-form {
    display: flex;
    justify-content: center;
}

.container-form label {
    display: block;
    width: 25px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
    -moz-appearance: textfield;
}

.container-form input {
    border: none;
    background-color: #FAFAFA;
}

.container-form input:focus {
    border: none;
    background-color: #FAFAFA;
    outline: 0;
}

.input-div {
    width: 150px;
    padding-right: 20px;
}

.input-div-id {
    width: 75px;
    margin: auto 20px auto 20px;
}

.input-div-id input {
    width: 75px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-id input:focus {
    width: 75px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-nome {
    width: 300px;
    margin: auto 20px auto 20px;
}

.input-div-nome input {
    width: 300px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-nome input:focus {
    width: 300px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-qtd {
    width: 100px;
    margin: auto 20px auto 20px;
}

.input-div-qtd input {
    width: 100px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-qtd input:focus {
    width: 100px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-valor {
    width: 100px;
    margin: auto 20px auto 20px;
}

.input-div-valor input {
    width: 100px;
    margin: 15px auto 0 auto;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}

.input-div-valor input:focus {
    width: 100px;
    margin: 15px auto 0 auto;;
    border: 1px #BBB solid;
    border-radius: 3px;
    height: 23px;
}