@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body, html {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

p, a, label, button, strong, input {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 14px;
    color: #707070;
}

a, button, input {
    cursor: pointer;
    color: #707070;
}