@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    overflow-y: auto;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

p, a, label, button, strong, input, h2 {
    font-family: Inter, Helvetica, sans-serif !important;
    font-size: 14px;
}

input, button {
    height: 30px;
    cursor: pointer;
}

td {
  font-size: 14px !important;
}

.title-screen {
    margin-top: 10px;
    margin-left: 88px !important;
    font-weight: normal !important;
    font-size: 30px !important;
}