.formProdRapida-container-form {
    display: flex;
    justify-content: center;
}

.formProdRapida-container-form label {
    display: block;
    width: 25px;
    font-weight: bold;
}

.formProdRapida-container-form input:focus {
    border-color: #0069D9;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
    -moz-appearance: textfield;
}

.formProdRapida-input-div {
    width: 150px;
    padding-right: 20px;
}

.formProdRapida-input-div-id {
    width: 75px;
    margin: auto 20px auto 20px;
}

.formProdRapida-input-div-id input {
    width: 75px;
    margin: 15px auto 0 auto;
}

.formProdRapida-input-div-nome {
    width: 225px;
    margin: auto 20px auto 20px;
}

.formProdRapida-input-div-nome input {
    width: 225px;
    margin: 15px auto 0 auto;
}

.formProdRapida-input-div-qtd {
    width: 100px;
    margin: auto 20px auto 20px;
}

.formProdRapida-input-div-qtd input {
    width: 100px;
    margin: 15px auto 0 auto;
}

.formProdRapida-input-div-valor {
    width: 100px;
    margin: auto 20px auto 20px;
}

.formProdRapida-input-div-valor input {
    width: 100px;
    margin: 15px auto 0 auto;
}

.formProdRapida-input-div-cliente {
    width: 125px;
    margin: auto 20px auto 20px;
}

.formProdRapida-input-div-cliente input {
    width: 125px;
    margin: 15px auto 0 auto;
}

.formProdRapida-container-submit {
    padding-top: 35px;
}

.formProdRapida-container-submit button {
    font-weight: bold;
    color: white;
}