.headerTable-container-principal {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border: 1px #bababa solid;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.headerTable-container-botNovo {
    position: absolute;
    top: 80px;
    right: 10%;
}

.headerTable-container-botNovo button {
    font-weight: bold;
}

.headerTable-container-fields {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.headerTable-container-fields label {
    display: block;
    padding: 0 0 5px 5px;
    width: 150px;
    font-weight: bold;
}

.headerTable-container-bot {
    display: flex;
    align-items: center;
    margin: auto;
}

.headerTable-container-bot button {
    margin-top: 25px;
    font-weight: bold;
    color: white !important;
    background-color: #0069d9 !important;
}

@media screen and (min-width: 1300px) {
    .headerTable-container-fields input {
        width: 250px;
    }
}

@media screen and (min-width: 1400px) {
    .headerTable-container-fields input {
        width: 300px;
    }
}