table {
    border-collapse: collapse;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.tableItens-container {
    width: 100%;
    margin: 30px auto 0 auto;
    border-radius: 5px;
}

.tableItens-column th {
    border: 1px #bababa solid;
    padding: 7px 0;
    color: white;
    background-color: #0069d9;
    text-align: center;
}

.tableItens-body td {
    padding: 5px;
    border: 1px #bababa solid;
}

.tableItens-acoes {
    border-top: none !important;
    border-left: none !important;
}

.tableItens-acoes-cardapio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tableItens-acoes-cardapio svg {
    color: #0069d9;
    font-size: 22px;
    cursor: pointer;
}

.tableItens-acoes-cliente {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: none !important;
    border-top: none !important;
}

.tableItens-acoes-cliente svg {
    color: #0069d9;
    font-size: 22px;
    cursor: pointer;
    padding: 7px;
}