.customModal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.customModal-body {
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
    z-index: 100;
    border-radius: 5px;
}

.customModal-body svg {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

.customModal-container-title {
    border-bottom: 1px #e0e0e0 solid;
}

.customModal-container-title h2 {
    font-size: 24px;
    margin: 0 0 15px 0;
}

.customModal-container-fields {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.customModal-container-fields label {
    display: block;
    padding: 0 0 5px 5px;
    width: 150px;
}

.customModal-footer {
    width: 100%;
    border-top: 1px #bababa solid;
}

.customModal-footer button {
    float: right;
    font-weight: bold;
}

.customModal-footer-cancelar {
    margin: 15px;
    color: black;
    background-color: lightgray;
    border: 1px #bababa solid;
}

.customModal-footer-salvar {
    margin: 15px 0 0 0;
    color: white;
}