.dashboard-tootip-view {
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.modalBody-fields-values {
    display: flex;
    justify-content: space-evenly;
}

.modalBody-fields-values label {
    display: block;
    font-size: 20px;
}

.modalBody-fields-values strong {
    display: block;
    font-size: 24px;
    color: blue;
    text-align: center;
}

.modalBody-table {
    height: 400px;
    overflow-y: auto;
}